{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="form-card" style="margin-top: 60px;">

    <h2 class="dashboard-header" style="text-align:center;">Login</h2>

    <label>Email</label>
    <input type="email" id="email" placeholder="Enter email" required>

    <label>Password</label>
    <input type="password" id="password" placeholder="Enter password" required>

    <button class="btn" onclick="loginUser()">Login</button>

    <p style="margin-top:10px; text-align:center;">
        Don't have an account?  
        <a href="/auth/register">Register</a>
    </p>

</div>

<script>
async function loginUser() {

    const email = document.getElementById("email").value;
    const pass  = document.getElementById("password").value;

    const res = await fetch("/auth/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ email: email, password: pass })
    });

    const data = await res.json();

    if (!res.ok) {
        alert(data.error || "Invalid credentials");
        return;
    }

    localStorage.setItem("token", data.token);
    localStorage.setItem("role", data.role);

    if (data.role === "user") window.location.href = "/user/dashboard";
    if (data.role === "recycler") window.location.href = "/recycler/dashboard";
    if (data.role === "admin") window.location.href = "/admin/dashboard";
}
</script>

{% endblock %}
